In [2]:
for i in range (n):
    for j in range (n):
        print(i,end =" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [13]:
for i in range (n):
    for j in range (n):
        print(n-i,end =" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [14]:
for i in range (n):
    for j in range (n):
        print(n-i-1,end =" ")
    print()

4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1
0 0 0 0 0

In [8]:
for i in range (n):
    for j in range (n):
        print(j,end =" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [10]:
for i in range (n):
    for j in range (n):
        print(n-j,end =" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [12]:
for i in range (n):
    for j in range (n):
        print(n-j-1,end =" ")
    print()

4 3 2 1 0
4 3 2 1 0
4 3 2 1 0
4 3 2 1 0
4 3 2 1 0

In [3]:
for i in range (n):
    for j in range (n):
        print(i)
#    print()

0
0
0
0
0
1
1
1
1
1
2
2
2
2
2
3
3
3
3
3
4
4
4
4
4

In [4]:
for i in range (n):
    for j in range (n):
        print(i,end =" ")
#    print()

0 0 0 0 0 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4

In [5]:
for i in range (n):
    for j in range (n):
        print(i,end =" ")
    print("\n")

0 0 0 0 0

1 1 1 1 1

2 2 2 2 2

3 3 3 3 3

4 4 4 4 4

In [15]:
max(1,2,3,4,5,6,7)

7

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [34]:
n = 5

In [35]:
for i in range (n):
    for j in range (n):
        print(max(i+1 , j+1 , n-i , n-j),end =" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [36]:
for i in range (n):
    for j in range (n):
        i,j
        print((i,j),end =" ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)

7 7 7 7 7 7 7
7 6 6 6 6 6 7
7 6 5 5 5 6 7
7 6 5 4 5 6 7
7 6 5 5 5 6 7
7 6 6 6 6 6 7
7 7 7 7 7 7 7

In [29]:
n = 7

In [30]:
for i in range (n):
    for j in range (n):
        print(max(i+1 , j+1 , n-i , n-j),end =" ")
    print()

7 7 7 7 7 7 7
7 6 6 6 6 6 7
7 6 5 5 5 6 7
7 6 5 4 5 6 7
7 6 5 5 5 6 7
7 6 6 6 6 6 7
7 7 7 7 7 7 7

In [32]:
for i in range (n):
    for j in range (n):
        i,j
        print((i,j),end =" ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4) (0, 5) (0, 6)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4) (1, 5) (1, 6)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4) (2, 5) (2, 6)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4) (3, 5) (3, 6)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (4, 6)
(5, 0) (5, 1) (5, 2) (5, 3) (5, 4) (5, 5) (5, 6)
(6, 0) (6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)

In [44]:
for i in range (n):
    for j in range (n):
        i,j
        print((max(n-j-1 , n-i-1)),end =" ")
    print()

4 4 4 4 4
4 3 3 3 3
4 3 2 2 2
4 3 2 1 1
4 3 2 1 0

In [45]:
for i in range (n):
    for j in range (n):
        i,j
        print(max(max(i+1,j+1),max(n-j-1+1 , n-i-1+1)),end =" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [46]:
max(1,2,3,4,5,6,7,8,9,10,11)

11

In [48]:
sum([1,2,3,4,5,6,7,8,9])

45