1. Looping Statements
    1. While
    2. For

While battery.notDead():
    pas

In [1]:
a = 1
while a < 10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9

for (int i =; i < 10 ; i++)
for (;battery.notDead();){
    
}

python for loop
iter(object)

In [3]:
iter("asdf")

In [4]:
iter(1)

TypeError: 'int' object is not iterable

In [5]:
a=1
a.__iter__

AttributeError: 'int' object has no attribute '__iter__'

In [8]:
name = "Nikhil"

In [9]:
name.__iter__

In [14]:
print(type(name))
print("***")
for c in name:
    print(c)
    print(type(c))

<class 'str'>
***
N
<class 'str'>
i
<class 'str'>
k
<class 'str'>
h
<class 'str'>
i
<class 'str'>
l
<class 'str'>

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in 1:
    print(i)

TypeError: 'int' object is not iterable

In [20]:
a = range(5)

In [21]:
a

range(0, 5)

In [22]:
a.__iter__

break , continue and pass

In [23]:
"aaaaaa" * 4

'aaaaaaaaaaaaaaaaaaaaaaaa'

In [25]:
for i in range (5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [26]:
for i in range (5):
    print(i)
    if i==3:
        continue

0
1
2
3
4

In [27]:
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [28]:
for i in range(5):
    print(i)
    i=100

0
1
2
3
4

In [32]:
for i in range(5):
    print(i)
    i=100
    print(i)

0
100
1
100
2
100
3
100
4
100

In [31]:
a=1
print(a)
del a
print(a)

1

NameError: name 'a' is not defined

In [29]:
for i in range(5):
    print(i)
    i=100
    del i

0
1
2
3
4

pass

In [33]:
if True:
    # I don't know to do
print("rest of the code")

IndentationError: expected an indented block after 'if' statement on line 1 (2344426977.py, line 3)

In [34]:
if True:
    "shdjsjhhjs"
print("rest of the code")

rest of the code

In [35]:
if True:
    """shdjsjhhjs"""
print("rest of the code")

rest of the code

In [36]:
if True:
    pass
print("rest of the code")

rest of the code

In [37]:
for i in range(5):
    print(i)
else:
    print("something")

0
1
2
3
4
something

In [38]:
for i in range(5):
    print(i)
print("something")

0
1
2
3
4
something

In [39]:
for i in range(5):
    print(i)
    if i ==3:
        break
else:
    print("something")

0
1
2
3

In [40]:
for i in range(5):
    print(i)
    if i ==3:
        break
print("something")

0
1
2
3
something